.search-btn
    margin-left: -40px
    background: transparent
    border: none
    color: $gray

button  
    background-color: $yellow
    color: $white
    height: 48px
    width: 131px
    border-radius: 10px
    border: 0.7px solid $lightgray
    font-family: 'poppins', sans-serif
    font-weight: 700
    font-size: $font-md
    letter-spacing: 2px
    cursor: pointer

button:hover
    filter: brightness(0.9)
    transition: filter 300ms ease-in-out

.white-btn
    background-color: $white
    color: $gray
    font-weight: 600

.carousel-btn
    background-color:$white
    border-radius: 50%
    width: 40px
    height: 40px
    box-shadow: 0px 6px 16px rgba(179, 134, 0, 0.24)
    border: none

.left-btn
    top: 50%
    left: -2%

.right-btn
    top: 50%
    right: -2%
